# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

.DS_Store
data/*

!data/pvol
data/pvol/*
!data/pvol/.gitkeep

!data/pvol_clutter
data/pvol_clutter/*
!data/pvol_clutter/.gitkeep

!data/rbc
data/rbc/*
!data/rbc/.gitkeep

!data/rbc_clutter
data/rbc_clutter/*
!data/rbc_clutter/.gitkeep

!data/rbc_orig
data/rbc_orig/*
!data/rbc_orig/.gitkeep

!data/rbc_orig_clutter
data/rbc_orig_clutter/*
!data/rbc_orig_clutter/.gitkeep

!data/rbc_png
!data/rbc_png/full
data/rbc_png/full/Accepted/*
!data/rbc_png/full/Accepted/.gitkeep
!data/rbc_png/full/Rejected/.gitkeep

!data/rbc_png_clutter
!data/rbc_png_clutter/full
data/rbc_png_clutter/full/Accepted/*
!data/rbc_png_clutter/full/Accepted/.gitkeep
!data/rbc_png_clutter/full/Rejected/.gitkeep

!data/plots
data/plots/*
!data/plots/.gitkeep

comms/vps
comms/vps_50m
comms/vps_unused
comms/*.pdf
comms/*.png
comms/*.RDS
*.tif
*.pdf
*.png